@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* general */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #F3F3F3;
    background-color: #21005d;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    margin: 0px;
}
h2 {
    color: #c8c8c8;
    font-size: 19px;
}
p {
    font-size: 17px;
}
.fondo2 {
    background-color: #4F378A;
    color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
.fondo2 h2 {
    color: #c8c8c8;
}
button {
    width: 71px;
    height: 36px;
    color: #FFFFFFCC;
    background-color: #4F378A;
    border: 1px solid #21005D;
    border-radius: 5px;
    transition: 0.5s;
}
button:hover{
    color: #4F378A;
    background-color: #FFFFFFCC;
    cursor: pointer;
}
/* header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 10px 0px 10px;
}
header div {
    text-align: right;
}
header img {
    max-width: 220px;
    width: 70vw;
    filter: drop-shadow(0px 0px 15px #ffffff);
    transition-duration: 1s;
    align-self: flex-end;
}
header img:hover {
    filter: drop-shadow(0px 0px 20px #ffffff);
}
header h1 {
    font-size: 54px;
    filter: drop-shadow(0px 0px 10px #ffffff);
    transition-duration: 1s;
}
header h1:hover {
    font-size: 54px;
    filter: drop-shadow(0px 0px 15px #ffffff);
    transform: scale(1.02);
}
header h2 {
    font-size: 26px;
    font-weight: 400;
    filter: drop-shadow(0px 0px 10px #ffffff);
    transition-duration: 1s;
}
header h2:hover {
    font-weight: lighter;
    filter: drop-shadow(0px 0px 15px #ffffff);
    transform: scale(1.02);
}
/* nav */
nav {
    z-index: 1;
    position: fixed;
    top: 10px;
    background-color: #3E267A;
    padding: 5px;
    border-radius: 0px 10px 10px 0px;
}
nav div {
    flex-direction: column;
    gap: 2px;
}
nav div a {
    color: white;
    background-color: #21005d;
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
nav svg {
    cursor: pointer;
}
/* section information */
section#informacion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #FFFFFFCC;
    text-align: center;
}
section#informacion div p {
    width: 70vw;
    padding: 5px;
    background-color: #FFFFFFCC;
    color: #1E1E1E;
    text-align: justify ;
    border-radius: 10px;
    justify-self: center;
}
section#informacion div.MV {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section#informacion div.MV p {
    max-width: 300px;
    width: 60vw;
}
/* section servicios*/
section#servicios {
    text-align: center;
    display: flex;
    flex-direction: column;
}
section#servicios div {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
}
section#servicios div p {
    max-width: 300px;
    width: 60vw;
    padding: 5px;
    background-color: #FFFFFFCC;
    color: #1E1E1E;
    text-align: justify;
    border-radius: 10px;
}
/* section proyectos_importantes */
section#proyectos_importantes {
    display: flex;
    align-items: center;
    flex-direction: column;
}
section#proyectos_importantes div {
    align-self: center;
}
section#proyectos_importantes div.proyecto {
    display: flex;
    max-width: 1200px;
    width: 70vw;
    gap: 20px;
}
/* section proyectos_generales */
section#proyectos_generales {
    display: flex;
    align-items: center;
    flex-direction: column;
}
section#proyectos_generales div.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
section#proyectos_generales div.proyectos div.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 350px;
    width: 70vw;
}
section#proyectos_generales div.proyectos div.proyecto h1{
    overflow-wrap: anywhere;
}
/* div proyecto */
div.proyecto {
    background-color: #D0BCFF;
    margin: 15px 0px;
    border-radius: 10px;
    padding: 15px;
}
div.proyecto img {
    max-height: 180px;
    height: 25vw;
}
div.proyecto h1 {
    color: #414141;
}
div.proyecto p {
    color: #757575;
    font-weight: 600;
    text-align: justify;
}
/* footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    align-items: center;
    gap: 50px;
}
footer h1{
    font-size: 16px;
}
footer a {
    color: transparent;
}
@media (max-width:800px) {
    section#proyectos_importantes div.proyecto {
        justify-content: center;
        flex-wrap: wrap;
    }
    section#proyectos_importantes div.proyecto div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:500px) {
    body {
        overflow-wrap: anywhere;
    }
    header {
        flex-direction: column;
        align-items: center;
        overflow-wrap: anywhere;
    }
    header div {
        text-align: center;
    }
    header img {
        align-self: center;
    }
    footer {
        gap: 10px;
    }
}